.navigation__list {
    display: flex;
    gap: 20px 50px;
}

.navigation__list_column-mob {
    flex-direction: column;
}

@media (min-width: 560px) {
    .navigation__list_column-mob {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .navigation__list {
        gap: 84px;
    }

    .navigation__link,
    .navigation__link_black {
        transition-property: color;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
    }

    .navigation__link:hover,
    .navigation__link:focus,
    .navigation__link_black:hover,
    .navigation__link_black:focus {
        color: #0017E6;
    }

    .navigation__link:active,
    .navigation__link_black:active {
        color: #8793FF;
    }

}